/*
 *= require stable/common
 *= require_self
*/

.t-header { 
  background:#333333; 
  color:#FFFFFF 
}

.t-row div { 
  border-bottom:1px solid #ededed; 
  font-size:11pt; 
  line-height:11pt; 
  padding: 5px;
}