/*
 *= require stable/common
 *= require_self
*/

.t-header { background:#333333; color:#FFFFFF; overflow:hidden }
.t-row div { border:1px solid #999; font-size:11pt; display:inline-block; height:20px; overflow:hidden }
