/*
 *= require stable/common
 *= require_self
*/

.t-header { background:#cccccc; color: darkred; overflow:hidden }
.t-row div { border:1px solid #999; font-size:12pt; display:inline-block; height:20px; overflow:hidden }
