.stable.table-scroll{ html_options }
  .scrollbars
    .scroll-vertical
      %div
    .scroll-horizontal
      %div
    .mask
      .c-left
        .t-header
          - (0..options[:fixed_rows]-1).each do |index|
            .t-row{row_wrapper_html_options[index]}
              - (0..options[:fixed_columns]-1).each do |cell_index|
                %div{data[index][cell_index][:html_options]}
                  = data[index][cell_index][:value]
        .t-body.vertical
          - data.enum_drop_with_index(options[:fixed_rows]) do |row, index|
            .t-row{row_wrapper_html_options[index]}
              - (0..options[:fixed_columns]-1).each do |cell_index|
                %div{row[cell_index][:html_options]}
                  = row[cell_index][:value]
      .c-right
        .t-header.horizontal
          - (0..options[:fixed_rows]-1).each do |index|
            .t-row{row_wrapper_html_options[index]}
              - data[index].enum_drop(options[:fixed_columns]) do |cell|
                %div{cell[:html_options]}
                  = cell[:value]
        .t-body.vertical.horizontal
          - data.enum_drop_with_index(options[:fixed_rows]) do |row, index|
            .t-row{row_wrapper_html_options[index]}
              - row.enum_drop(options[:fixed_columns]) do |cell|
                %div{cell[:html_options]}
                  = cell[:value]
