.stable.table-scroll{ html_options }
  .scrollbars
    .scroll-vertical
      %div
    .scroll-horizontal
      %div
    .mask
      .c-left
        .t-header
          - (0..options[:fixed_rows]-1).each do |row|
            .t-row
              %div{data[row][0][:html_options]}
                = data[row][0][:value]
        .t-body.vertical
          - data.enum_drop(options[:fixed_rows]) do |row|
            .t-row
              %div{row[0][:html_options]}
                = row[0][:value]
      .c-right
        .t-header.horizontal
          - (0..options[:fixed_rows]-1).each do |row|
            .t-row
              - data[row].enum_drop(1) do |cell|
                %div{cell[:html_options]}
                  = cell[:value]
        .t-body.vertical.horizontal
          - data.enum_drop(options[:fixed_rows]) do |row|
            .t-row
              - row.enum_drop(1) do |cell|
                %div{cell[:html_options]}
                  = cell[:value]
