.table-scroll.w120.on
  #scrollbars
    #scroll-vertical
      %div
    #scroll-horizontal
      %div
    #mask
      .c-left
        .t-header
          .t-row
            %div 
              = data[0][0]
        .t-body.vertical
          - data.each_with_index do |row, index|
            - next if index == 0
            .t-row
              %div
                = row[0]
      .c-right
        .t-header.horizontal
          .t-row
            - data[0].each_with_index do |cell, index|
              - next if index == 0
              %div
                = cell
        .t-body.vertical.horizontal
          - data.each_with_index do |row, index|
            - next if index == 0
            .t-row
              - row.each_with_index do |cell, index|
                - next if index == 0
                %div
                  = cell



