!!!
%html
  %head
    %title stable-rails sample
    %link(href="/stylesheets/stable.css" media="all" rel="stylesheet" type="text/css")
    :css
      .w200 { width:200px !important; }
      .table-scroll.on { height:200px; }
      .table-scroll.w120 .t-row div { width:120px; padding:5px }

      .red { background-color: red !important; }
      .blue { background-color: blue !important; }
    %script(src="http://code.jquery.com/jquery-1.8.3.min.js" type="text/javascript")
    %script(src="/javascripts/stable.js" type="text/javascript")
  %body
    %h1 stable-rails sample
    =yield
